# ignore everything
/*
/*/
.DS_Store

# ... but these:
!/.pam_environment
!/.gitignore
!/README.md

## .config
!/.config/

### ranger
!/.config/ranger/
/.config/ranger/plugins/__pycache__/*
/.config/ranger/colorschemes/__pycache__/*
/.config/ranger/folders.conf
/.config/ranger/colorschemes/__init__.pyo
/.config/ranger/colorschemes/default.pyo
/.config/ranger/plugins/__init__.pyo
/.config/ranger/plugins/devicons.pyo
/.config/ranger/plugins/devicons_linemode.pyo
/.config/ranger/__pycache__/


### zsh
!/.config/zsh/
/.config/zsh/*
!/.config/zsh/fzf
!/.config/zsh/conf
!/.config/zsh/init


# MK
!/.mk/
