# ignore everything
/*
/*/

# ... but these:
!/.pam_environment
!/.gitignore

## .config
!/.config/
/.config/*
!/.config/.Xmodmap
!/.config/.Xmodmap-cn
!/.config/vimium.txt

### fcitx5
!/.config/fcitx5
/.config/fcitx5/crash.log

### neofetch
!/.config/neofetch/

### lazygit
!/.config/jesseduffield/
/.config/jesseduffield/lazygit/*
!/.config/jesseduffield/lazygit/config.yml

### ranger
!/.config/ranger/
/.config/ranger/plugins/__pycache__/*
/.config/ranger/colorschemes/__pycache__/*
/.config/ranger/folders.conf
/.config/ranger/colorschemes/__init__.pyo
/.config/ranger/colorschemes/default.pyo
/.config/ranger/plugins/__init__.pyo
/.config/ranger/plugins/devicons.pyo
/.config/ranger/plugins/devicons_linemode.pyo
/.config/ranger/__pycache__/

### zathura
!/.config/zathura/
!/.config/zathura/zathurarc


