# ignore everything
/*
/*/

# ... but these:
!/.pam_environment
!/.gitignore
!/README.md

## .config
!/.config/
/.config/*
!/.config/user-dirs.conf
!/.config/user-dirs.dirs
!/.config/user-dirs.locale

### alacritty
!/.config/alacritty/

### bspwm
!/.config/bspwm/

### calcurse
!/.config/calcurse/
/.config/calcurse/hooks/

### dunst
!/.config/dunst/

### eww
!/.config/eww/

### git
!/.config/git/

### git
!/.config/glava/

### fcitx5
!/.config/fcitx5/
/.config/fcitx5/conf/cached_layouts
/.config/fcitx5/crash.log

### fontconfig
!/.config/fontconfig/

### neofetch
!/.config/neofetch/

### npm
!/.config/npm/

### lazygit
!/.config/jesseduffield/
/.config/jesseduffield/lazygit/*
!/.config/jesseduffield/lazygit/config.yml
/.config/jesseduffield/lazynpm/state.yml

### picom
!/.config/picom/

### polybar
!/.config/polybar/

### ranger
!/.config/ranger/
/.config/ranger/plugins/__pycache__/*
/.config/ranger/colorschemes/__pycache__/*
/.config/ranger/folders.conf
/.config/ranger/colorschemes/__init__.pyo
/.config/ranger/colorschemes/default.pyo
/.config/ranger/plugins/__init__.pyo
/.config/ranger/plugins/devicons.pyo
/.config/ranger/plugins/devicons_linemode.pyo
/.config/ranger/__pycache__/

### rofi
!/.config/rofi/

### sxhkd
!/.config/sxhkd/

### X11
!/.config/X11/

### zathura
!/.config/zathura/
!/.config/zathura/zathurarc

### zsh
!/.config/zsh/
/.config/zsh/*
!/.config/zsh/fzf
!/.config/zsh/conf
!/.config/zsh/init

## .local
!/.local/
/.local/*

### bin
!/.local/mbin/
/.local/mbin/polybar/poem.json
/.local/mbin/polybar/token

### share
!/.local/share/
/.local/share/*

#### fonts
!/.local/share/fonts/
/.local/share/fonts/*
!/.local/share/fonts/LxgwWenKai/
!/.local/share/fonts/Windows/
!/.local/share/karbs/

