/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	font-family: "LXGW WenKai Mono";
	color: #151515;
}


/** Boxes ***********************************/
.winbox {
	background-color: #F5EEE6;
	border: 1px solid #161616;
	border-radius: 12px;
}

/** poem ***********************************/
.poem_box {
	margin: 20px;
}

.poem_head {
	font-size : 24px;
	font-style: italic;
	font-weight : bold;
}

.poem_content {
	font-size : 24px;
	font-weight : bold;
}

/** EOF *************************************************/
